body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: palegreen;
  }
  
  .container {
    text-align: center;
    background: lavender;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  }
  
  #clock {
    font-size: 2rem;
    font-weight: bold;
    margin: 20px 0;
  }
  
  .hidden {
    visibility: hidden;
  }
  
  #clock,
  #greeting {
    transition: all 0.3s ease-in-out;
  }
  